{% extends 'base.html' %}

{% block title_head %}
<title>Sobre mi</title>
{% endblock title_head %}


{% block h1_header %}
<h1>Un poco sobre mi</h1>
{% endblock h1_header %}

{% block contenido %}
<h2>¡Hola a todos!</h2>
<p>Me llamo Paul Matias, tengo 32 años y soy profesor de educación física.</p>
<p>Recientemente, decidí adentrarme en el mundo de la programación, y estoy muy emocionado de aprender cada vez más sobre este campo.</p>
<p>Estoy tomando este curso para adquirir nuevos conocimientos y habilidades, y espero seguir descubriendo este mundo tan fascinante.</p>
</div>

{% endblock contenido %}